PORT=3000
# link connect to mongoDB. kh biết thì chatGPT nhé
MONGO_URI=

# URL của FE
CLIENT_URL=

JWT_SECRET=
JWT_EXPIRES_IN=30m

# liên hệ VGiang để biết thêm chi tiết:))
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=DanangScholar